.modal-overlay {
  position: fixed;

  inset: 0;

  background: rgba(0, 0, 0, 0.65);

  display: flex;

  justify-content: center;
  align-items: center;

  z-index: 999;
}

.modal {
  width: 420px;

  background: #111827;

  border: 1px solid #1f2937;

  border-radius: 24px;

  padding: 28px;
}

.modal h2 {
  margin-bottom: 24px;

  font-size: 24px;
}

.user-form {
  display: flex;

  flex-direction: column;

  gap: 16px;
}

.user-form input,
.user-form select {
  width: 100%;

  padding: 14px;

  border-radius: 14px;

  border: 1px solid #1f2937;

  background: #0f172a;

  color: white;

  outline: none;
}

.modal-actions {
  display: flex;

  justify-content: flex-end;

  gap: 12px;

  margin-top: 10px;
}

.cancel-btn,
.save-btn {
  border: none;

  padding: 11px 18px;

  border-radius: 12px;

  font-weight: bold;

  cursor: pointer;
}

.cancel-btn {
  background: #1f2937;

  color: white;
}

.save-btn {
  background: #22c55e;

  color: white;
}
