.modal-overlay {
  position: fixed;

  inset: 0;

  background: rgba(0, 0, 0, 0.65);

  backdrop-filter: blur(4px);

  display: flex;

  justify-content: center;
  align-items: center;

  z-index: 999;
}

.delete-modal {
  width: 400px;

  background: #111827;

  border-radius: 24px;

  border: 1px solid #1f2937;

  padding: 30px;

  text-align: center;

  animation: modalShow 0.25s ease;
}

.delete-icon {
  font-size: 48px;

  margin-bottom: 18px;
}

.delete-modal h2 {
  font-size: 26px;

  margin-bottom: 12px;

  color: white;
}

.delete-modal p {
  color: #94a3b8;

  line-height: 1.6;

  margin-bottom: 24px;
}

.delete-modal strong {
  color: white;
}

.modal-actions {
  display: flex;

  justify-content: center;

  gap: 14px;
}

.cancel-btn,
.confirm-btn {
  border: none;

  padding: 12px 20px;

  border-radius: 12px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.2s;
}

.cancel-btn {
  background: #1f2937;

  color: white;
}

.cancel-btn:hover {
  background: #374151;
}

.confirm-btn {
  background: #ef4444;

  color: white;
}

.confirm-btn:hover {
  background: #dc2626;
}

@keyframes modalShow {
  from {
    opacity: 0;

    transform: translateY(20px) scale(0.95);
  }

  to {
    opacity: 1;

    transform: translateY(0) scale(1);
  }
}
